doctype html


meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
title iMap demo


link(rel="stylesheet", href="style.css")


.imap-wrap
	.imap
		.imap-fl
			object#fl-room.imap-fl-item(type="image/svg+xml", data="assets/room.svg")
			object#fl-rails.imap-fl-item(type="image/svg+xml", data="assets/rails.svg")
			object#fl-zone1.imap-fl-item(type="image/svg+xml", data="assets/zone1.svg")
			object#fl-zone2.imap-fl-item(type="image/svg+xml", data="assets/zone2.svg")
			object#fl-zone3.imap-fl-item(type="image/svg+xml", data="assets/zone3.svg")
			object#fl-stock.imap-fl-item(type="image/svg+xml", data="assets/stock.svg")

		object.imap-bg(type="image/svg+xml", data="assets/bg.svg")

		.imap-sb
			#sb-room.imap-sb-item
				.imap-sb-item-title Помещение
				.imap-sb-item-description Неопознанное помещение используется для хранения непонятных вещей и постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание направлений прогрессивного развития

			#sb-rails.imap-sb-item
				.imap-sb-item-title Железная дорога
				.imap-sb-item-description Служит для приема и отправки грузов поездом

			#sb-zone1.imap-sb-item
				.imap-sb-item-title Зона 1
				.imap-sb-item-description Зона 1 используется для хранения различной атрибутики необходимой в повседневной деятельности

			#sb-zone2.imap-sb-item
				.imap-sb-item-title Зона 2
				.imap-sb-item-description Зона 2 используется для хранения различной атрибутики необходимой в повседневной деятельности

			#sb-zone3.imap-sb-item
				.imap-sb-item-title Зона 3
				.imap-sb-item-description Зона 3 используется для хранения различной атрибутики необходимой в повседневной деятельности

			#sb-stock.imap-sb-item
				.imap-sb-item-title Склад
				.imap-sb-item-description Склад используется для хранения различной атрибутики необходимой в повседневной деятельности


script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.js")
script(src="script.js")
