doctype html


meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
title iMap demo


link(rel="stylesheet", href="style.css")


.imap-wrap
	.imap
		object.imap-bg(type="image/svg+xml", data="assets/bg.svg")
		.imap-sb


script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.js")
script(src="script.js")
