@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=cyrillic)
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400&subset=cyrillic)


$bgWidth: 980px
$bgHeight: 690px
$sbWidth: 500px
$sbHeight: 200px


.imap-wrap
	position: absolute
	top: 0
	left: 0
	width: 100vw
	height: 100vh

	background-color: #032d4e

.imap
	position: relative
	display: flex
	box-sizing: content-box
	width: $bgWidth + $sbWidth
	height: $bgHeight
	padding: 50px
	transform-origin: top left

	&-bg
		flex: 0 0 $bgWidth
		pointer-events: none

	&-sb
		position: relative
		flex: 0 0 $sbWidth

		&-item
			position: absolute
			left: 0 !important
			margin-top: -30px

			&-title
				margin-left: 83px

				font-family: Comfortaa, cursive
				font-size: 24px
				line-height: 1.25
				font-weight: 700
				text-transform: uppercase

				color: #f7f3f2

			&-description
				margin-top: 32px
				margin-left: 25px
				opacity: 0

				font-family: Roboto, Arial, sans-serif
				font-size: 20px
				line-height: 1.25
				font-weight: 300

				color: #f7f3f2

				transition: opacity .3s

			&-pointer
				position: absolute
				top: 24px !important
				right: 100%
				margin-left: -$bgWidth
				margin-right: -65px
				height: 1px

				background-color: #fff

				&:before
					content: ''

					position: absolute
					top: -3px
					left: -3px
					width: 7px
					height: 7px

					background-color: #fff
					border-radius: 50%

			&_click
				.imap-sb-item-description
					opacity: 1


@media screen and (max-width: 900px)
	.imap
		flex-direction: column
		width: $bgWidth
		height: $bgHeight + $sbHeight

		&-bg
			flex: 0 0 $bgHeight

		&-sb
			flex: 0 0 $sbHeight

			&-item
				top: 55px !important

				&-pointer
					display: none

